#background {
    height: 100%;
    width: 100%;
    background-image: url('/oregon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome {
    padding: 1%;
    background-color: black;
    color: white;
    opacity: 0.75;
}