main {
    padding: 16px;
}

#doctor, #location, #schedule {
    display: none;
}

.apptRecord {
    margin-top: 16px;
}

#primaries {
    margin-top: 16px;
    margin-bottom: 16px;
}

.day, .dow, .dummy-day {
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-right: 1.5%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.day {
    cursor: pointer;
}

.availableDay {
    font-weight: bolder;
}

.dow {
    font-weight: bold;
}

.dummy-day {
    color: #DDD;
}

#schedule {
    margin-top: 24px;
}

#calendarContainer {
    width: 50%;
    float: left;
}

#chooseAvailable {
    margin-left: 50%;
    width: 70%;
}

#monthHeader {
    display: flex;
    justify-content: space-evenly;
}

#previousMonth, #nextMonth {
    border: none;
    background-color: #FBFBF4;
    font-size: 24px;
    cursor: pointer;
}

#available {
    display: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 48px;
}

.appointmentTime, .chiefComplaint {
    margin-top: 16px;
    margin-bottom: 16px;
}

.selectedDate {
    background-color: orangered;
    color: white;
}

input[type=submit] {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:  /* #669999 */ #333;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
    
input[type=submit]:hover {
    background:  /* #a3c2c2 */ orangered;
}

main a {
    color: orangered;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    cursor: pointer;
}