<link rel="stylesheet" type="text/css" href="home.css">
<div id="background">
    <div id="welcome">
        <h1>Welcome!</h1>
        <div>To get started, choose one of the links in the bar at the top of the screen.</div>
    </div>
</div>